{{!-- begin: left --}}
<div>
  <div id="layout-left">
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#">跑步机管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">日志管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">退出</a>
      </li>
    </ul>
  </div>
</div>
{{!-- end: left --}}
