---
title: Jipaoba Machines
gyms: active
---

{{> navbar }}

	<main class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="gyms.html">健身房管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">健身房信息</li>
      </ol>
    </nav>
    <p></p>
		<h3> 房山超级蜂巢 </h3>
		<p></p>
    <p>
      <div class="white-block">
        <div class="block-header m-3">
          <h3>健身房信息</h3>
        </div>
        <div class="block-body">
          <table class="table underscore">
            <tr>
              <td>名称</td>
              <td>房山超级蜂巢</td>
            </tr>
            <tr>
              <td>类别</td>
              <td>自助健身</td>
            </tr>
            <tr>
              <td>店长</td>
              <td>李阳</td>
            </tr>
            <tr>
              <td>联系方式</td>
              <td>18045011089</td>
            </tr>
            <tr>
              <td>地址</td>
              <td>北京市房山区房山超级蜂巢</td>
            </tr>
          </table>
        </div>
      </div>
    </p>
    <p>
    </p>
    <div class="row">
      <div class="col">
        <div class="white-block">
          <div class="block-header m-3"><h4>前门</h4></div>
          <div class="block-body">
            <table class="table underscore text-monospace mb-0">
              <tbody>
                <tr><td>编号</td><td>20001012</td></tr>
                <tr><td>状态</td><td>在线</td></tr>
                <tr><td>单/双向</td><td>双向</td></tr>
                <tr><td>编码</td><td>二维码</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="white-block">
          <div class="block-header m-3"><h4>侧门</h4></div>
          <div class="block-body">
            <table class="table underscore text-monospace mb-0">
              <tbody>
                <tr><td>编号</td><td>20001013</td></tr>
                <tr><td>状态</td><td>在线</td></tr>
                <tr><td>单/双向</td><td>双向</td></tr>
                <tr><td>编码</td><td>二维码</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="white-block">
          <div class="block-header m-3"><h4>洗浴间A</h4></div>
          <div class="block-body">
            <table class="table underscore text-monospace mb-0">
              <tbody>
                <tr><td>编号</td><td>20001014</td></tr>
                <tr><td>状态</td><td>在线</td></tr>
                <tr><td>单/双向</td><td>双向</td></tr>
                <tr><td>编码</td><td>二维码</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="white-block">
          <div class="block-header m-3"><h4>洗浴间B</h4></div>
          <div class="block-body">
            <table class="table underscore text-monospace mb-0">
              <tbody>
                <tr><td>编号</td><td>20001015</td></tr>
                <tr><td>状态</td><td>在线</td></tr>
                <tr><td>单/双向</td><td>双向</td></tr>
                <tr><td>编码</td><td>二维码</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <nav class="btn-top-right-2">
      <form class="form-inline">
        {{!-- <div class="form-group mx-sm-2 mb-2 mr-2">
          <label for="inputBefore" class="sr-only">Before</label>
          <input type="calendar" class="form-control" id="inputPassword2" placeholder="" value="">
        </div>
        <button class="btn btn-primary mb-2">查询</button> --}}
        <button class="btn btn-primary mb-2" href="#">编辑</button>
      </form>
    </nav>
	</main>
