---
title: Jipaoba Machines
members: active
---

{{> navbar }}

	<main class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="members.html">会员管理</a></li>
        <li class="breadcrumb-item"><a href="members.html">会员信息</a></li>
        <li class="breadcrumb-item active" aria-current="page">编辑信息</li>
      </ol>
    </nav>
		<p></p>
		<h3> 韩玲（13521414602） </h3>
		<p></p>
    <p>
      <div class="white-block">
        <div class="block-header m-3">
          <h3>会员信息</h3>
        </div>
        <div class="block-body">
          <table class="table underscore">
            <tr>
              <td>手机号</td>
              <td><input class="form-control" type="text" value="13521414602" /></td>
            </tr>
            <tr>
              <td>姓名</td>
              <td><input class="form-control" type="text" value="韩玲" /></td>
            </tr>
            <tr>
              <td>oid</td>
              <td>oixIR0VX0DM1S5zmjbdRMSB51-Zw</td>
            </tr>
            <tr>
              <td>注册时间</td>
              <td>2018-08-21 18:08:03</td>
            </tr>
            <tr>
              <td>账户余额</td>
              <td>0.00元</td>
            </tr>
            <tr>
              <td>月卡</td>
              <td>2018-08-21 至 2018-09-20</td>
            </tr>
            <tr>
              <td>累计消费</td>
              <td>177.80元</td>
            </tr>
          </table>
        </div>
      </div>
    </p>
    <p>
    </p>
    <p>
      <a class="btn-lg btn-primary px-5" href="#">提交</a>
    </p>
	</main>
