---
title: Jipaoba Machines
members: active
---

{{> navbar }}

	<main class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="members.html">会员管理</a></li>
        <li class="breadcrumb-item active" aria-current="page">会员信息</li>
      </ol>
    </nav>
		<p></p>
		<h3> 韩玲（13521414602） </h3>
		<p></p>
    <p>
      <div class="white-block">
        <div class="block-header m-3">
          <h3>会员信息</h3>
        </div>
        <div class="block-body">
          <table class="table underscore">
            <tr>
              <td>手机号</td>
              <td>13521414602(<span class="text-success">已认证</span>)</td>
            </tr>
            <tr>
              <td>姓名</td>
              <td>韩玲</td>
            </tr>
            <tr>
              <td>oid</td>
              <td>oixIR0VX0DM1S5zmjbdRMSB51-Zw</td>
            </tr>
            <tr>
              <td>注册时间</td>
              <td>2018-08-21 18:08:03</td>
            </tr>
            <tr>
              <td>账户余额</td>
              <td>0.00元</td>
            </tr>
            <tr>
              <td>月卡</td>
              <td>2018-08-21 至 2018-09-20</td>
            </tr>
            <tr>
              <td>累计消费</td>
              <td>177.80元</td>
            </tr>
          </table>
        </div>
      </div>
    </p>
    <p>
    </p>
    <div class="row">
      <div class="col">
        <div class="white-block">
          <div class="block-header m-3"><h4>消费记录</h4></div>
          <div class="block-body">
            <table class="table underscore text-monospace mb-0">
              <thead>
                <tr><th>用途</th><th>金额</th><th>时间</th></tr>
              </thead>
              <tfoot><tr><td colspan="3" style="text-align: end"><a href="#">更多</a></td></tr></tfoot>
              <tbody>
                <tr><td>自助健身</td><td>8.80元</td><td>2018-08-21 18:52</td></tr>
                <tr><td>办理月卡</td><td>169.00元</td><td>2018-08-22 10:27</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="white-block">
          <div class="block-header m-3"><h4>门禁使用记录</h4></div>
          <div class="block-body">
            <table class="table underscore text-monospace mb-0">
              <thead>
                <tr><th>时间</th><th>使用门禁</th><th>门禁</th></tr>
              </thead>
              <tfoot><tr><td colspan="3" style="text-align: end"><a href="#">更多</a></td></tr></tfoot>
              <tbody>
                <tr><td>2018-08-21 18:08:03</td><td>进入</td><td>房山超级蜂巢前门</td></tr>
                <tr><td>2018-08-21 18:45:46</td><td>进入</td><td>房山超级蜂巢洗浴间A</td></tr>
                <tr><td>2018-08-21 18:51:18</td><td>离开</td><td>房山超级蜂巢洗浴间A</td></tr>
                <tr><td>2018-08-21 18:52:47</td><td>离开</td><td>房山超级蜂巢前门</td></tr>
                <tr><td>2018-08-22 10:27:19</td><td>进入</td><td>房山超级蜂巢前门</td></tr>
                <tr><td>2018-08-22 11:36:57</td><td>进入</td><td>房山超级蜂巢洗浴间A</td></tr>
                <tr><td>2018-08-22 11:41:24</td><td>离开</td><td>房山超级蜂巢洗浴间A</td></tr>
                <tr><td>2018-08-22 11:42:46</td><td>离开</td><td>房山超级蜂巢前门</td></tr>
                <tr><td>2018-08-25 19:03:29</td><td>进入</td><td>房山超级蜂巢前门</td></tr>
                <tr><td>2018-08-25 19:46:02</td><td>进入</td><td>房山超级蜂巢洗浴间A</td></tr>
                <tr><td>2018-08-25 19:52:19</td><td>离开</td><td>房山超级蜂巢洗浴间A</td></tr>
                <tr><td>2018-08-25 19:53:06</td><td>离开</td><td>房山超级蜂巢前门</td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <nav class="btn-top-right-2">
      <form class="form-inline">
        {{!-- <div class="form-group mx-sm-2 mb-2 mr-2">
          <label for="inputBefore" class="sr-only">Before</label>
          <input type="calendar" class="form-control" id="inputPassword2" placeholder="" value="13521414602">
        </div>
        <button class="btn btn-primary mb-2">查询</button> --}}
        <button class="btn btn-primary mb-2 mr-3" href="#">赠送优惠券</button>
        <button class="btn btn-primary mb-2" href="#">编辑</button>
      </form>
    </nav>
	</main>
