---
title: Jipaoba Machines
supports: active
---

{{> navbar }}

	<main class="container">
		<h2> ховцЬНшо░х╜Х </h2>
		<p></p>
    <p>
      <table class="table" style="background-color:#fff">
        <thead>
          <tr>
            <th scope="col">цЧ╢щЧ┤</th>
            <th scope="col">ф╝ЪхСШцШ╡чз░</th>
            <th scope="col">хзУхРН</th>
            <th scope="col">цЙЛцЬ║хП╖</th>
            <th scope="col">цОех╛Еф║║хСШ</th>
            <th scope="col">ховцЬНчК╢цАБ</th>
          </tr>
        </thead>
        <tfoot>
          {{!-- <tr><td colspan="6"></td></tr> --}}
        </tfoot>
        <tbody>
          <tr>
            <td scope="row">2018-08-23 18:45:13</td>
            <td scope="row">х┐ГшпнхжВцвж</td>
            <td scope="row">ш╡╡хЕИчФЯ</td>
            <td scope="row">13020002688</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-23 14:19:07</td>
            <td scope="row">шЙ╛ф╝Кц▒Э</td>
            <td scope="row">цЭОхе│хгл</td>
            <td scope="row">15819716565</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-23 12:47:25</td>
            <td scope="row"></td>
            <td scope="row">ч║кцЩУхж╣</td>
            <td scope="row">18948321389</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-danger"> <a >х╛ЕхдДчРЖ</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-23 11:04:48</td>
            <td scope="row">чФЬч╛ОчГнхД┐</td>
            <td scope="row">цЮЧхе│хгл</td>
            <td scope="row">15810811705</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-23 11:04:48</td>
            <td scope="row"></td>
            <td scope="row">чОЛхЕИчФЯ</td>
            <td scope="row">15501007709</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-22 16:18:32</td>
            <td scope="row">ЁЯТЧцИС si х░ПщжЛчМлхД┐ЁЯР▒ЁЯТЧ</td>
            <td scope="row">ц╜Шч╛Ош╛░</td>
            <td scope="row">18945812043</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-22 12:37:21</td>
            <td scope="row">Mr.TaoTao</td>
            <td scope="row">чОЛц╢Ы</td>
            <td scope="row">13121521093</td>
            <td scope="row">чобчРЖхСШ</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-21 17:59:21</td>
            <td scope="row">юАГLeoх░ПхПФюАД	</td>
            <td scope="row">хСихЕИчФЯ</td>
            <td scope="row">15001115121</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-21 12:17:39</td>
            <td scope="row"></td>
            <td scope="row">чФ░хе│хгл</td>
            <td scope="row">15010783303</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
          <tr>
            <td scope="row">2018-08-21 10:36:51</td>
            <td scope="row"></td>
            <td scope="row">хСихе│хгл</td>
            <td scope="row">13080059125</td>
            <td scope="row">чФ░цЧн</td>
            <td scope="row" class="text-success"> <a >х╖▓чбошод</a></td>
          </tr>
        </tbody>
      </table>
    </p>
    <p>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          {{!-- <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li> --}}
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

    </p>
    <nav class="btn-top-right">
      <form class="form-inline">
        <div class="form-group mx-sm-2 mb-2 mr-2">
          <label for="inputBefore" class="sr-only">Before</label>
          <input type="calendar" class="form-control" id="inputPassword2" placeholder="" value="">
        </div>
        <button class="btn btn-primary mb-2 mr-3">цЯешпв</button>
        <button class="btn btn-primary mb-2" href="#">цЦ░цОецЭечФ╡</button>
        {{!-- <button class="btn btn-primary mb-2" href="#">цЦ░хвЮщЧичжБ</button> --}}
      </form>
    </nav>
	</main>
