---
title: Jipaoba Machines
supports: active
---

{{> navbar }}

	<main class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="supports.html">客服支持</a></li>
        <li class="breadcrumb-item active" aria-current="page">客服记录</li>
      </ol>
    </nav>
    <p>
    </p>
		<h3> 王涛 - 13121521093 </h3>
		<p></p>
    <p>
      <div class="white-block">
        <div class="block-header m-3">
          <h4>2018-08-22 12:37:21</h4>
        </div>
        <div class="block-body">
          <table class="table underscore">
            <tr>
              <td>会员昵称</td>
              <td>Mr.TaoTao</td>
              <td>姓名</td>
              <td>王涛</td>
            </tr>
            <tr>
              <td>手机号</td>
              <td>13121521093</td>
              <td>接待人员</td>
              <td>管理员</td>
            </tr>
            <tr>
              <td>问题分类</td>
              <td>报障</td>
              <td>当前状态</td>
              <td class="text-success"><a >已确认</a></td>
            </tr>
            <tr>
              <td colspan="4">用户问题：<br>
                <textarea style="width: 90%;" readonly>
用户告之“房山超级蜂巢”的跑步机有震动现象，需要我们进行到店维修。
                </textarea>
              </td>
            </tr>
            <tr>
              <td colspan="4">处理方式：<br>
                <textarea style="width: 90%;" readonly>
已经联系宗斌安排时间到现场维修，预计在8月24日。</textarea><br>
                更新人：管理员
              </td>
            </tr>
            <tr>
              <td colspan="4">追加内容：<br>
                <textarea style="width: 90%;"></textarea><br>
                更新人：管理员 <br>
                是否解决：<select>
                  <option>是</option>
                  <option>否</option>
                </select><br>
                <button class="btn btn-primary mb-2">更新</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </p>
    <p>
    </p>
    <nav class="btn-top-right-2">
      <form class="form-inline">
        <div class="form-group mx-sm-2 mb-2 mr-2">
          <label for="inputBefore" class="sr-only">Before</label>
          <input type="calendar" class="form-control" id="inputPassword2" placeholder="" value="13121521093">
        </div>
        <button class="btn btn-primary mb-2 mr-3">查询</button>
        <button class="btn btn-primary mb-2" href="#">新接来电</button>
      </form>
    </nav>
	</main>
