---
title: Jipaoba Machines
users: active
---

{{> navbar }}

	<main class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="users.html">用户管理</a></li>
        <li class="breadcrumb-item"><a href="user.html">用户信息</a></li>
        <li class="breadcrumb-item active" aria-current="page">编辑信息</li>
      </ol>
    </nav>
		<p></p>
		<h3> 张卓娅 </h3>
		<p></p>
    <p>
      <div class="white-block">
        <div class="block-header m-3">
          <h3>用户信息</h3>
        </div>
        <div class="block-body">
          <table class="table underscore">
            <tr>
              <td>姓名</td>
              <td><input class="form-control" type="text" value="张卓娅" /></td>
            </tr>
            <tr>
              <td>手机号</td>
              <td><input class="form-control" type="text" value="13601010796" /></td>
            </tr>
            <tr>
              <td>角色</td>
              <td>
                <select class="form-control" type="text" value="">
                  <option>客服</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>状态</td>
              <td>
                <select class="form-control" type="text" value="">
                  <option>正常</option>
                </select>
              </td>
            </tr>
            <tr>
              <td>开通时间</td>
              <td>2017-08-29 09:32:26</td>
            </tr>
          </table>
        </div>
      </div>
    </p>
    <p>
    </p>
    <p>
      <a class="btn-lg btn-primary px-5" href="#">提交</a>
    </p>
    <nav class="btn-top-right-2">
      <form class="form-inline">
        {{!-- <div class="form-group mx-sm-2 mb-2 mr-2">
          <label for="inputBefore" class="sr-only">Before</label>
          <input type="calendar" class="form-control" id="inputPassword2" placeholder="" value="13521414602">
        </div>
        <button class="btn btn-primary mb-2">查询</button> --}}
        {{!-- <button class="btn btn-primary mb-2 mr-3" href="#">设置密码</button>
        <button class="btn btn-primary mb-2" href="#">编辑</button> --}}
      </form>
    </nav>
	</main>
